
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySecurityLabel">Create or edit a Security</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.security.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.security.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ticker">Ticker</label>
            <input type="text" class="form-control" name="ticker" id="field_ticker"
                    ng-model="vm.security.ticker"
                    required />
            <div ng-show="editForm.ticker.$invalid">
                <p class="help-block"
                    ng-show="editForm.ticker.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_issuedUnits">Issued Units</label>
            <input type="number" class="form-control" name="issuedUnits" id="field_issuedUnits"
                    ng-model="vm.security.issuedUnits"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_spotPrice">Spot Price</label>
            <input type="number" class="form-control" name="spotPrice" id="field_spotPrice"
                    ng-model="vm.security.spotPrice"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_currency">Currency</label>
            <select class="form-control" name="currency" ng-model="vm.security.currency" id="field_currency">
                <option value="AUD">AUD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="JPY">JPY</option>
                <option value="GBP">GBP</option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.security.company" ng-options="company as company.id for company in vm.companies track by company.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
